<h1>Welcome Back, Log In!</h1>
<p><a href="/">Home</a></p>
<p><a href="/users/new">Don't have an account? Register here</a></p>
<div class="row">
  <form class="" action="index.html" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <input type="submit" value="Submit">
  </form>
</div>
