<h1 class="center">Welcome to Fake Bank</h1>
<h3 class="center">We provide all of your fake banking needs</h3>

<div class="row">
  <a href="/sessions/new">Log In</a></br>
  <a href="/users/new">Sign Up for a new account</a>
</div>

<div class="row">
  <h5>Contact Us:</h5>
  <p>Phone: 1-800-Fake-Bank</p>
  <p>Email: <a href="#">fakebank.com</a></p>

</div>
