<h1>Register User Bank Account</h1>
<form class="" method="post">
  <input type="text" name="first_name">
  <input type="text" name="last_name">
  <input type="text" name="username">
  <input type="text" name="address">
  <input type="text" name="city">
  <input type="text" name="state">
  <input type="button" value="Submit">
</form>
