<h1 class="center">Welcome to Fake Bank </h1>
<p><a href="/">Home</a></p>
<p><a href="/sessions/new">Already have an account? Log In</a></p>
<h2 class="center"> Register Your Account</h2>

<div class="row">
  <form class="col s9" action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="user[acct_num]" placeholder="Account Number">
    <input type="text" name="user[first_name]" placeholder="First Name">
    <input type="text" name="user[last_name]" placeholder="Last Name">
    <input type="text" name="user[username]" placeholder="Username">
    <input type="text" name="user[email]" placeholder="Email">
    <input type="password" name="user[password]" placeholder="Password">
    <input type="password" name="user[confirm_password]" placeholder="Confirm Password">
    <input type="submit" value="Submit" class="right">
  </form>
</div>
