<h1 class="center">Welcome to Fake Bank </h1>
<p><a href="/">Home</a></p>
<p><a href="/sessions/new">Already have an account? Log In</a></p>
<h2 class="center"> Register Your Account</h2>

<div class="row">
  <form class="col s9" method="post">
    <input type="text" name="acct_num" placeholder="Account Number">
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="confirm_password" placeholder="Confirm Password">
    <input type="button" value="Submit" class="right">
  </form>
</div>
