// Place all the styles related to the Registers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize";

body{
  background: url("/assets/main/do_not_enter_within_buildings.png");
}
h1, h3, h5{
  // background: linear-gradient(to bottom right, #969696, #282828);
}
.row .col.s9{
  margin-left: 14%;
}
